* {
    box-sizing: border-box;
}

body {
    background-image: url("background/Main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

a{
    color: black;
    text-decoration: none;
}

.navigator {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 70px;
}


button {
    width: 200px;
    height: 80px;
    font-size: 1.1rem;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
    background: none;
    outline: none;
    box-shadow: none;
}


button.frosty {
    width: 200px;
    height: 80px;
    font-size: 1.1rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.05); 
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
    outline: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}


button.frosty:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #ffffff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
    transform: scale(1.1); 
}

#store-character{
    margin-top: -50px;
}



.card-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 600px;
    height: 950px;
    margin: 50px auto;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;

}

.card-page .stats {
    margin-top: 15px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;
}


.card-page img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px rgba(255, 100, 100, 0.3)); 
    animation-duration: 3s;
    animation-name: drawAnimation;
}

@keyframes drawAnimation{
    0%{transform: translateY(30%);}
    90%{transform: translateY(10%);}
}