body {
    background-image: url(../assets/background/Storage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-zinc-50)
}